[submodule "amazon-bedrock-agents-healthcare-lifesciences"]
 	path = examples/amazon-bedrock-agents-healthcare-lifesciences
 	url = https://github.com/aws-samples/amazon-bedrock-agents-healthcare-lifesciences

[submodule "amazon-bedrock-agent-evaluation-framework"]
 	path = examples/amazon-bedrock-agent-evaluation-framework
 	url = https://github.com/aws-samples/amazon-bedrock-agent-evaluation-framework
